* {
	font-family: "Arial";
	font-size: 1.1rem;
}

div > div {
	padding: 3px 0;
}

small {
	font-size: 0.85em;
}

body {
	background-color: #e5e7e9;
}

.section-div {
	border: 1px solid gray;
	margin: 10px;
	padding: 15px;
}

.hidden {
	display: none;
}

.highlight {
	font-weight: bold;
	color: darkmagenta;
}

#problem-tags {
	border: 1px solid gray;
	border-radius: 10px;
	background-color: #f7f9f9;
	padding: 10px;
	color: #922b21;
	font-weight: bold;
}

#search-tags {
	width: 100%;
	box-sizing: border-box;
}

#question-link-parent {
	text-align: center;
	padding: 0 0 15px 0;
}

#question-link {
	font-weight: bold;
	text-decoration: none;
}
